:root {
  --headerbar-bg-color: var(--headerbar-bg-light);
  --headerbar-fg-color: var(--headerbar-fg-light);

  --headerbar-border-color: var(--headerbar-fg-color);
  --headerbar-backdrop-color: var(--headerbar-bg-color);

  --accent-bg-color: var(--headerbar-bg-color);
  --accent-color: oklab(from var(--accent-bg-color) var(--standalone-color-oklab));
  --accent-fg-color: var(--headerbar-fg-color);

  --window-bg-color: color-mix(in oklab, var(--accent-color), var(--view-bg-color) 90%);
  --window-fg-color: color-mix(in oklab, var(--accent-color), var(--view-fg-color) 50%);
  --popover-bg-color: var(--window-bg-color);
  --popover-fg-color: var(--window-fg-color);
}
