:root {
  --headerbar-bg-color: var(--headerbar-bg-light);
  --headerbar-fg-color: var(--headerbar-fg-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --headerbar-bg-color: var(--headerbar-bg-dark);
    --headerbar-fg-color: var(--headerbar-fg-dark);
  }
}

#main-headerbar,
#main-headerbar > * > * {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 32px;
}

#main-headerbar windowhandle > box {
  padding-left: 2px;
  padding-right: 2px;
}

.expressive {
  --headerbar-border-color: var(--headerbar-fg-color);
  --headerbar-backdrop-color: var(--headerbar-bg-color);

  --accent-bg-color: var(--headerbar-bg-color);
  --accent-fg-color: var(--headerbar-fg-color);
  --accent-color: var(--accent-fg-color);

  --window-bg-color: color-mix(in oklab, var(--headerbar-bg-color), var(--headerbar-fg-color) 10%);
  --window-bg-color: var(--accent-bg-color);
  --window-fg-color: var(--accent-fg-color);
  --popover-bg-color: var(--window-bg-color);
  --popover-fg-color: var(--window-fg-color);

  --view-bg-color: color-mix(in oklab, var(--headerbar-bg-color), white 20%);
  --view-fg-color: var(--headerbar-fg-color);
  --card-bg-color: var(--view-bg-color);
  --card-fg-color: var(--view-fg-color);

  --card-shade-color: color-mix(in oklab, var(--card-bg-color), black 15%);
}
